option_settings:
  aws:elasticbeanstalk:application:environment:
    MORALIS_API_KEY: 'A79YEuNYFWomoiSdTBAPLDN0TIQosB36Z1bgc5Fr9Nx1ggVuwOR8j8drVoJolYnH'
    MASTER_KEY: '22022190'
    APPLICATION_ID: '10293822022190'
    SERVER_URL: 'http://myappname.elasticbeanstalk.com/server'
    DATABASE_URI: 'mongodb://localhost:27017'
    REDIS_CONNECTION_STRING: 'redis://127.0.0.1:6379'
    RATE_LIMIT_TTL: 30
    RATE_LIMIT_AUTHENTICATED: 50
    RATE_LIMIT_ANONYMOUS: 20
    USE_STREAMS: false
    STREAMS_WEBHOOK_URL: '/streams-webhook'